@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300@500@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300@500@900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.t0 {
    font-size: 14px;
    font-weight: 900;
    color: var(--w0);
}
.t1 {
    font-size: 12px;
    font-weight: 500;
    color: var(--w1);
}
.t2 {
    font-size: 11px;
    font-weight: 500;
    color: var(--w2);
}
