@use "./vars.scss";
@use "./font.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--d0);
}

#app {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.fl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flv {
  flex-direction: column;
}

.glower {
  background: rgba(1, 255, 1, 0.1) !important;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 255, 0.7);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(42 42 54 / 90%) #0f0f11;
}
