* {
    --d0: #101012;
    --d1: #282d2e;
    --d2: #363c3d;
    --d3: #414a4b;

    --w0: #f6f6f6;
    --w1: #c5c5c5;
    --w2: #a9a9a9;
    --w3: #888888;

    --glow0: rgb(128, 172, 41);
    // --cellSize: 20px; in code
}
